* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #394454;
}

* img {
  width: 60px;
  height: 60px;
}

* button {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

:root {
  --background: #475569;
  --background2: #64748B;
  --red: #932B3F;
  --white: #CBD5E1;
  --yellow: #E1994F;
  --green: #00B25A;
}

.my-work {
  font-size: 2rem;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  place-items: center;
  letter-spacing: .2rem;
  height: 30vh;
  margin: 0 0 50px 0;
  background-color: whitesmoke;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

main aside {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem;
  width: 60%;
  height: 100%;
}

main section aside:nth-of-type(1) {
  display: none;
}

main section .wrapper1 figure, main section .wrapper2 figure {
  height: 450px;
  width: 100%;
  margin: 0 0 300px 0;
}

main section .wrapper1 figure img, main section .wrapper2 figure img {
  height: 100%;
  width: 100%;
}

main section .wrapper1 figure figcaption, main section .wrapper2 figure figcaption {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main section .wrapper1 figure figcaption h1, main section .wrapper2 figure figcaption h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

main section .wrapper1 figure figcaption h1 a, main section .wrapper2 figure figcaption h1 a {
  text-align: center;
  text-decoration: none;
  letter-spacing: .2rem;
  color: var(--white);
}

main section .wrapper1 figure figcaption h1 p, main section .wrapper2 figure figcaption h1 p {
  text-align: center;
}

.essentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  margin-bottom: 100px;
}

.essentials h1 {
  font-size: 2.5rem;
  letter-spacing: .2rem;
}

.essentials .container, .essentials .container2 {
  width: 60%;
  height: auto;
  margin: 10px 0 0 0;
  border: 2px solid var(--yellow);
  border-radius: 10px;
}

.essentials .container h2, .essentials .container2 h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: .2rem;
}

.essentials .container p, .essentials .container2 p {
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  margin: 0 0 0 100px;
}

.essentials .container .text-container, .essentials .container2 .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.essentials .container .text-container input, .essentials .container2 .text-container input {
  width: 60%;
  height: 70px;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
  border: none;
  border-radius: 10px;
  margin: 0 0 0 5px;
  outline: 1px solid var(--background);
}

.essentials .container .text-container input:focus, .essentials .container2 .text-container input:focus {
  outline: 1px solid #932B3F;
}

.essentials .container .text-container button, .essentials .container2 .text-container button {
  width: 20%;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 20px;
  margin: 0 15px 0 0;
}

.essentials .container .text-container button:hover, .essentials .container2 .text-container button:hover {
  background-color: var(--white);
  color: var(--green);
}

.essentials .container .task-show, .essentials .container .complete, .essentials .container2 .task-show, .essentials .container2 .complete {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0 0;
  border-top: 1px solid var(--green);
}

.essentials .container .task-show .all-task, .essentials .container .complete .all-task, .essentials .container2 .task-show .all-task, .essentials .container2 .complete .all-task {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.essentials .container .task-show .all-task .todo-item, .essentials .container .complete .all-task .todo-item, .essentials .container2 .task-show .all-task .todo-item, .essentials .container2 .complete .all-task .todo-item {
  width: 60%;
  height: 40px;
  font-size: 1.4rem;
  word-wrap: break-word;
  letter-spacing: .15rem;
  margin: 5px 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 .4rem;
  color: var(--background);
  border: 1px solid var(--background);
}

.essentials .container .task-show .all-task .del-btn, .essentials .container .complete .all-task .del-btn, .essentials .container2 .task-show .all-task .del-btn, .essentials .container2 .complete .all-task .del-btn {
  width: 20%;
  font-size: 1.5rem;
  height: 50px;
  background-color: var(--red);
  color: var(--white);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  margin: 0 15px 0 0;
  border-radius: 20px;
}

.essentials .container .task-show .all-task .del-btn:hover, .essentials .container .complete .all-task .del-btn:hover, .essentials .container2 .task-show .all-task .del-btn:hover, .essentials .container2 .complete .all-task .del-btn:hover {
  color: var(--red);
  background-color: var(--white);
}

.essentials .container .task-show .all-task .completed-btn, .essentials .container .complete .all-task .completed-btn, .essentials .container2 .task-show .all-task .completed-btn, .essentials .container2 .complete .all-task .completed-btn {
  height: 50px;
  border-radius: 20px;
  background-color: var(--background);
  color: var(--white);
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 15%;
  border: none;
}

.essentials .container .task-show .all-task .completed-btn:hover, .essentials .container .complete .all-task .completed-btn:hover, .essentials .container2 .task-show .all-task .completed-btn:hover, .essentials .container2 .complete .all-task .completed-btn:hover {
  background-color: var(--white);
  color: var(--background);
}

.essentials .container .complete, .essentials .container2 .complete {
  margin: 20px 0 0 0;
  border-top: 1px solid var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.essentials .container .complete h2, .essentials .container2 .complete h2 {
  letter-spacing: .12rem;
  font-size: 1.9rem;
  margin: 0 0 5px 0;
}

.essentials .container .complete div, .essentials .container2 .complete div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.essentials .container .complete div p, .essentials .container2 .complete div p {
  width: 60%;
  height: 40px;
  font-size: 1.3rem;
  word-wrap: break-word;
  letter-spacing: .15rem;
  margin: 5px 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 .4rem;
  color: var(--background);
  border: 1px solid var(--background);
}

.essentials .container .complete div button, .essentials .container2 .complete div button {
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  margin: 0 15px 0 0;
  color: var(--white);
  background-color: var(--yellow);
}

.essentials .container .complete div button:hover, .essentials .container2 .complete div button:hover {
  background-color: var(--white);
  color: var(--yellow);
}

.essentials .container2 {
  background-color: var(--yellow);
  margin-top: 50px;
}

.essentials .container2 h2 {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-align: center;
}

.essentials .container2 p {
  font-size: 1.5rem;
  text-align: center;
}

.essentials .container2 .counter-container {
  border-top: 1px solid var(--background2);
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.essentials .container2 .counter-container .count-number {
  font-size: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 0;
  color: var(--background);
}

.essentials .container2 .counter-container .buttons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.essentials .container2 .counter-container .buttons button {
  border: none;
  height: 35px;
  width: 100px;
  margin: 0 0 5px 5px;
  border-radius: 5px;
  color: #f4eaea;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.essentials .container2 .counter-container .buttons .add {
  background-color: #00B25A;
}

.essentials .container2 .counter-container .buttons .add:hover {
  color: var(--green);
  background-color: var(--white);
}

.essentials .container2 .counter-container .buttons .reset {
  background-color: var(--background);
}

.essentials .container2 .counter-container .buttons .reset:hover {
  background-color: var(--white);
  color: var(--background);
}

.essentials .container2 .counter-container .buttons .reduce {
  background-color: #932B3F;
}

.essentials .container2 .counter-container .buttons .reduce:hover {
  background-color: var(--white);
  color: var(--red);
}

@media only screen and (max-width: 600px) {
  main {
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  main .first-ad:nth-of-type(1) {
    display: none;
  }
  main .last-ad {
    margin: 0 0 20px 0;
    background-color: #932B3F;
  }
  main section {
    width: 95%;
  }
  main section aside {
    margin: 0 0 50px 0;
    width: auto;
    height: auto;
    text-align: center;
  }
  main section .wrapper1, main section .wrapper2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .wrapper1 figure, main section .wrapper2 figure {
    position: relative;
    margin: 0 0 200px 0;
    height: 250px;
    width: 100%;
  }
  main section .wrapper1 figure img, main section .wrapper2 figure img {
    height: 100%;
    width: 100%;
  }
  main section .wrapper1 figure figcaption, main section .wrapper2 figure figcaption {
    margin: 0 0 10px 0;
  }
  .essentials {
    width: 100%;
  }
  .essentials h1 {
    letter-spacing: .07rem;
  }
  .essentials .container, .essentials .container2 {
    width: 90%;
  }
  .essentials .container p, .essentials .container2 p {
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .essentials .container .text-container input, .essentials .container2 .text-container input {
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  .essentials .container .text-container button, .essentials .container2 .text-container button {
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 0 2px 0 0;
  }
  .essentials .container .task-show h2, .essentials .container2 .task-show h2 {
    letter-spacing: 0;
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .essentials .container .task-show .all-task, .essentials .container2 .task-show .all-task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .essentials .container .task-show .all-task .todo-item, .essentials .container2 .task-show .all-task .todo-item {
    height: auto;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-overflow: ellipsis;
  }
  .essentials .container .task-show .all-task .completed-btn, .essentials .container2 .task-show .all-task .completed-btn {
    font-size: 1.2rem;
    height: 40px;
    border-radius: 5px;
  }
  .essentials .container .task-show .all-task .del-btn, .essentials .container2 .task-show .all-task .del-btn {
    font-size: 1.2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    height: 40px;
    border-radius: 5px;
    margin: 0 2px 0 0;
  }
  .essentials .container .complete div button, .essentials .container2 .complete div button {
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 2px 0 0;
  }
  .essentials .container2 .counter-container .buttons {
    width: 100%;
  }
  .essentials .container2 .counter-container .buttons button {
    width: 100px;
    background-color: aqua;
  }
  .essentials .container2 .counter-container .buttons .reset {
    background-color: var(--background);
  }
}
/*# sourceMappingURL=dera-portfolio.css.map */